/* Base elements */

body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 3mm;
}

h1, h2, h3 {
	margin: 0;
}

h2 {
	font-size: 4.5mm;
}

table {
	width: 100%;
}

caption {
	font-weight: bold;
	text-align: left;
}

th {
	text-align: left;
}

/* Base area definitions */

.charactersheet {
	height: 175mm;
	width: 265mm;
}

.area {
	position: relative;
	display: block;
	width: 50%;
	float: left;
}

.section {
	position: relative;
	border: 2px solid black;
	padding: 2mm;
	margin: 0 3mm 3mm 0;
}

.row .section, .column {
	float: left;
}

/* Section definitions, dimensions and such */

.section.hitpoints {
	position: relative;
	height: 46mm;
	width: 48mm;
}

.section.magic {
	height: 46mm;
}

.section.possessions {
	width: 40mm;
	height: 84mm;
}

.section.logo {
	width: 40mm;
	height: 32mm;
}

.section.skills {
	width: 76mm;
	height: 124mm;
}

.section.xfactor, .section.remarks {
	height: 38mm;
}

/* Basic field and set definitions */

.field {
	border: 1px solid black;
	padding: 1mm;
	height: 4mm;
}

.section.hitpoints .field {
	width: 4mm;
	background-color: white;
}

.before {
	float: left;
}

div.before {
	padding-top: 1mm;
}

.set {
	float: left;
	margin-right: 3mm;
}

.set:last-child {
	margin-right: 0;
}

.sets {
	height: 11mm;
	margin: 1mm 0;
}

/* Specific field definitions, ranging from width to positioning and such */

/* player & character */

#speler, #character-naam {
	margin-left: 20mm;
}

#ras {
	width: 25mm;
}

#rasvoordeel {
	width: 30mm;
}

#godsdienst, #subgod {
	width: 25mm;
}

.sets.experience .field {
	width: 15mm;
}

.set.size {
	position: absolute;
	right: 0;
	top: 28mm;
}

.set.size h3 {
	position: absolute;
}

.set.size .category {
	height: 2mm;
	width: 2mm;
	border: 1px solid black;
	position: absolute;
	bottom: 0;
	line-height: 1.8mm
}

.set.size .category#gnome {
	left: 3.5mm;
}

.set.size .category#halfling {
	left: 9.5mm;
}

.set.size .category#dwarf {
	left: 18mm;
}

.set.size .category#human {
	left: 27mm;
}

.set.size .category#demon {
	left: 41mm;
}

/* stats hp */

.section.hitpoints img{
	position: absolute;
	bottom: 0;
	left: 5mm;
}

.section.hitpoints .field {
	position: absolute;
	z-index: 1;
}

.section.hitpoints #hp-helm {
	top: 8mm;
	left: 15mm;
}

.section.hitpoints #hp-torso {
	top: 19mm;
	left: 21mm;
}

.section.hitpoints #hp-linkerarm, .section.hitpoints #hp-rechterarm {
	top: 21mm;
}

.section.hitpoints #hp-linkerarm {
	left: 7mm;
}

.section.hitpoints #hp-rechterarm {
	left: 35mm;
}

.section.hitpoints #hp-linkerbeen , .section.hitpoints #hp-rechterbeen {
	top: 37mm;
}

.section.hitpoints #hp-linkerbeen {
	left: 35mm;
}

.section.hitpoints #hp-rechterbeen {
	left: 7mm;
}

/* stats magic */


#leermeester {
	margin-bottom: 5mm;
}

.level {
	float: left;
	margin-top: 6mm;
	margin-right: 3mm;
}

#lvlmagie, #lvlreligie, #lvlambacht {
	width: 15mm;
}

